body{
    background: url("http://allswalls.com/?module=images&act=downloadResize&file=pikachu-wallpaper-1.jpg&x=1460x1100&y=") no-repeat;
    text-align: center;
    text-transform: capitalize;
}

p{
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #212121
}

h2{
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1565C0;
}


h1{
    color: #1565C0;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.pic{
    position: absolute;
    margin-top: 50px;
    margin-left: 150px;
    border-radius: 30px;
    width:500px;
    height: 350px;
}
.pic1{  
    width:150px;
}
/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Nunito|Rubik|VT323');
/*font-family: 'Rubik', sans-serif;*/
/*font-family: 'Inconsolata', monospace;*/
/*font-family: 'VT323', monospace;*/
/*font-family: 'Nunito', sans-serif;*/


h3{
    font-family: 'Rubik', sans-serif;
    width: 50%;
    margin: 20px auto 20px auto;    
    
}
span{
    font-family: 'Inconsolata', monospace;
    padding-left: 10px;
}

h4{
    font-family: 'VT323', monospace;   
    font-size: 2em;
    margin-bottom: 0;
}

p1{
    font-family: 'Nunito', sans-serif;    
    margin-top: 5px;
}

img{
    border-radius: 50%;
    width:150px;
}

.g-signin2{
    position: left;
    top: 100%;
    left: 50%;
}

.signOut{
    position: right;
    
    color:white;
}

.userData{
    width: 200px;
    margin: 0 auto;
}



@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.hidden{
    display: none;
}